

  Update dbo.Perguntas
  set Pergunta = 'Quem lavou os pés de Jesus com nardo e o que foi utilizado?'
  where idPergunta = 2 and Rodada = 1;

  
  Update dbo.Perguntas
  set Pergunta = 'De onde saiu Jesus quando foi surpreendido por um cedo a beira do caminho?'
  where idPergunta = 6 and Rodada = 1;
  
  Update dbo.Perguntas
  set Pergunta = 'Quantos eram os profetas de Baal que disputaram com o profeta Elias no monte Carmelo?'
  where idPergunta = 10 and Rodada = 1;
  
  Update dbo.Perguntas
  set Pergunta = 'Qual era o nome do filho aleijado de Jônatas, filho de Saul?'
  where idPergunta = 8 and Rodada = 1;
  
  Update dbo.Perguntas
  set Pergunta = 'Quem foi contra a decisão dos demais irmãos de matar José?'
  where idPergunta = 12 and Rodada = 1;
  
  Update dbo.Perguntas
  set Pergunta = 'Na casa de quem Paulo se hospedeu enquanto estava cego?'
  where idPergunta = 14 and Rodada = 1;
  
  Update dbo.Perguntas
  set Pergunta = 'Para quem Lucas escreve o evangelho que contém seu nome?'
  where idPergunta = 15 and Rodada = 1;
  
  Update dbo.Perguntas
  set Pergunta = 'Destrui um dos Juízes de Israel tirando-lhe as forças peloas cabeços, quem sou?'
  where idPergunta = 18 and Rodada = 1;
  
  Update dbo.Perguntas
  set Pergunta = 'Qual o nome da ilha onde Paulo doi picado por uma cobra?'
  where idPergunta = 17 and Rodada = 2;
  
  Update dbo.Perguntas
  set Pergunta = 'Qual o nome do mordomo de Acabe que escondeu 100 profetas para Jezabel não os matar?'
  where idPergunta = 15 and Rodada = 2;
  
  Update dbo.Perguntas
  set Pergunta = 'Qual rei do reino do norte (Israel) contruiu 2 bezerros de ouro, um em Dã e outro em Betel?'
  where idPergunta = 14 and Rodada = 2;
  
  Update dbo.Perguntas
  set Pergunta = 'Que rainha, na intenção de assumir o trono, matou toda a decedência real?'
  where idPergunta = 12 and Rodada = 2;
  
  Update dbo.Perguntas
  set Pergunta = 'Que animal matou uns rapazes por terem zombado de uma servo so Senhor, chamando-o de careca?'
  where idPergunta = 13 and Rodada = 2;
  
  Update dbo.Perguntas
  set Pergunta = 'Para onde estavam indo os mercadores midianitas que compraram José?'
  where idPergunta = 11 and Rodada = 2;
  
  Update dbo.Perguntas
  set Pergunta = 'Quantas mulheres tinha o rei Salomão, contando esposas e concubinas?'
  where idPergunta = 9 and Rodada = 2;
  
  Update dbo.Perguntas
  set Pergunta = 'Que livro relata a história de três jovens lançados em uma cova de leões?'
  where idPergunta = 4 and Rodada = 2;
  
  Update dbo.Perguntas
  set Pergunta = 'Que livro relata a ocasião em que os israelitas eram curados ao olhar para uma serpente de bronze?'
  where idPergunta = 6 and Rodada = 2;
  
  Update dbo.Perguntas
  set Pergunta = 'Qual das epístolas a seguir não foi escrita por Paulo?'
  where idPergunta = 7 and Rodada = 2;
  
  Update dbo.Perguntas
  set Pergunta = 'Quais são os livros que compoêm os 4 evengelhos, na ordem correta?'
  where idPergunta = 2 and Rodada = 2;
  
  Update dbo.Perguntas
  set Pergunta = 'Qual era o nome do Paulo antes de receber seu nome final?'
  where idPergunta = 3 and Rodada = 2;
  
  Update dbo.Perguntas
  set Pergunta = '"Bem aventurados os humildes, pois eles receberão..."'
  where idPergunta = 3 and Rodada = 3;
  
  Update dbo.Perguntas
  set Pergunta = 'Quem foi a primeira pessoa para a qual Jesus apareceu após a sua ressurreição?'
  where idPergunta = 7 and Rodada = 3;
  
  Update dbo.Perguntas
  set Pergunta = 'O que deram de beber a Jesus durante a crucificação?'
  where idPergunta = 4 and Rodada = 3;
  
  Update dbo.Perguntas
  set Pergunta = 'Que rainha pôs a prova a sabedoria de Salomão através de enigmas?'
  where idPergunta = 11 and Rodada = 3;
  
  Update dbo.Perguntas
  set Pergunta = 'Paulo afirma: Eu sou de Paulo, outros de Céfas, outros de Cristo e outros de...'
  where idPergunta = 10 and Rodada = 3;
  
  Update dbo.Perguntas
  set Pergunta = 'Qual o sacerdote morreu ao cair de uma cadeira e quebrar o pescoço?'
  where idPergunta = 13 and Rodada = 3;
  
  Update dbo.Perguntas
  set Pergunta = 'Qual profeta amaldiçoou alguns rapazes por terem zombado de sua calvice?'
  where idPergunta = 12 and Rodada = 3;
  
  Update dbo.Perguntas
  set Pergunta = 'Quantos Biografias foram escritas sobre a vida de Jesus?'
  where idPergunta = 16 and Rodada = 3;
  
  Update dbo.Perguntas
  set Pergunta = 'Quais dos escritores dos 4 evagelhos não andaram com Jesus?'
  where idPergunta = 18 and Rodada = 3;